---
Checks:          'readability-redundant-*,readability-non-const-parameter,
    readability-braces-around-statements,performance-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none

